$red: #BF1A0B;
$green: #639E2E;
$accent_color: #46910a;
$light: #fffbfb;
$dark: rgb(12, 11, 11);

$accent: 'Caveat', cursive;
$heading: 'Roboto Condensed', sans-serif;
$primary: 'Roboto', sans-serif;
$safe_font: 'Ariel' sans-serif;