@include medium_mobile {

    %flex_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // HEADER AND NAV
    .audio_player {
        display: flex;
        justify-content: space-between;
    }
    .volume,
    .icon {
        width: 20px;
    }

    .record {
        display: none;
    }

    .wrapper {
        @extend %flex_column;
    }

    .news_img > img {
        display: none;
    }

    img {
        width: 414px;
    }

    .logo {
        width: 404px;
    }

   
}