@include medium_mobile {

    %flex_column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    // COMBINED
    .record,
    .slogan,
    .bg_img > img,
    .second_page,
    .heading_shadow,
    .red_square > img {
        display: none;
    }

    .wrapper,
    .brochure_section,
    .special_offers_section,
    .join_us_section,
    .non_stop_stores,
    .daily_stores {
        @extend %flex_column;
    }

    // HEADER AND NAV
    img.volume,
    img.icon {
        width: 20px;
    }

    // MAIN PAGE
    .logo {
        width: 404px;
        margin-top: 10px;
    }

    // BROCHURE PAGE
    .brochure_img > img,
    .items{
        width: 404px;
        margin-top: 10px;
    }

   
}