.second_page, .brochure_section, .special_offers_section, .join_us_section {
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 280px) {
  * {
    color: #363333;
  }
}

section:not(.stores_location_section) {
  padding: 1.2rem;
}

@media screen and (max-width: 280px) {
  section:not(.stores_location_section) {
    padding: 0;
  }
}

.content {
  height: 120vh;
}

@media screen and (max-width: 280px) {
  .content {
    height: 100%;
  }
}

img:not(.bg_img):not(.volume):not(.icon):not(.menu-icon):not(.logo_img) {
  height: 30rem;
}

@media screen and (max-width: 280px) {
  img:not(.bg_img):not(.volume):not(.icon):not(.menu-icon):not(.logo_img) {
    width: 100%;
    height: 100%;
  }
}

.heading {
  font-family: "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 280px) {
  .heading {
    float: right;
    margin: 0 0.3rem 0.5rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

@media screen and (max-width: 280px) {
  .heading_shadow {
    display: none;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fffbfb;
  height: 2.8rem;
}

header .audio_player {
  margin: 0.3rem;
}

header .record {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: normal;
}

@media screen and (max-width: 280px) {
  header .record {
    display: none;
  }
}

header .menu-icon > img {
  position: absolute;
  height: 2.2rem;
  right: 1.2rem;
  top: 0.3rem;
}

@media screen and (max-width: 280px) {
  header .menu-icon > img {
    right: 0.5rem;
  }
}

header,
nav.hamburger {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.audio_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  height: 9.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.hamburger .menu {
  margin: 0.8rem 1rem;
}

.hamburger .menu > a {
  text-decoration: none;
  color: #BF1A0B;
}

.prime_page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 6fr;
      grid-template-columns: 5fr 6fr;
  height: 100vh;
}

@media screen and (max-width: 280px) {
  .prime_page {
    height: 100%;
  }
}

.prime_page .wrapper {
  margin: 15.5rem 0 0 8rem;
}

@media screen and (max-width: 768px) {
  .prime_page .wrapper {
    margin: 15.5rem 0 0 3rem;
  }
}

@media screen and (max-width: 280px) {
  .prime_page .wrapper {
    margin: 0;
  }
}

.prime_page .slogan {
  font-family: "Caveat", cursive;
  font-size: 3.2rem;
}

@media screen and (max-width: 280px) {
  .prime_page .slogan {
    display: none;
  }
}

.prime_page .bg_img {
  overflow: hidden;
  z-index: -1;
  margin-top: -17.5rem;
  margin-right: -9rem;
}

@media screen and (max-width: 768px) {
  .prime_page .bg_img {
    height: 55rem;
    margin: -6rem 0 0 0;
    overflow: hidden;
    z-index: -1;
  }
}

@media screen and (max-width: 280px) {
  .prime_page .bg_img {
    display: none;
  }
}

.prime_page .logo_img {
  width: 45rem;
}

@media screen and (max-width: 280px) {
  .prime_page .logo_img {
    width: 17rem;
    margin: 0.8rem 0 0.8rem 0.3rem;
  }
}

.second_page {
  background-image: url(../images/BGs/curved_red_line_right.svg);
}

@media screen and (max-width: 280px) {
  .second_page {
    display: none;
  }
}

.brochure_section {
  background-image: url(../images/BGs/red_line_right.svg);
  background-position: bottom;
}

@media screen and (max-width: 280px) {
  .brochure_section {
    background-image: none;
  }
}

.special_offers_section {
  background-image: url(../images/BGs/curved_red_line_left.svg);
}

@media screen and (max-width: 280px) {
  .special_offers_section {
    background-image: none;
  }
  .special_offers_section hr {
    width: 13rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 0.05em solid #46910a;
    border-radius: 50%;
    background-color: #46910a;
  }
  .special_offers_section .first_item,
  .special_offers_section .second_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .special_offers_section .first_item .item_name,
  .special_offers_section .second_item .item_name {
    font-weight: 600;
  }
}

.join_us_section {
  background-image: url(../images/BGs/red_line_left.svg);
  background-position: bottom;
}

@media screen and (max-width: 280px) {
  .join_us_section {
    background-image: none;
    background-color: #639E2E;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .join_us_section .red_square {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .join_us_section .join_us_heading {
    margin: 1.2rem 0 2rem 0;
  }
}

@media screen and (max-width: 280px) {
  .join_us_section .white_square > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .join_us_section .white_square > form input:not(#join_btn) {
    border: none;
    background-color: #639E2E;
    border-bottom: 0.01rem solid #fffbfb;
    width: 13rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .join_us_section .white_square > form input::-webkit-input-placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
  .join_us_section .white_square > form input:-ms-input-placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
  .join_us_section .white_square > form input::-ms-input-placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
  .join_us_section .white_square > form input::placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
}

.join_us_section .white_square > form #custom_btn {
  width: 6rem;
  margin: 0 auto;
}

.join_us_section .white_square > form #join_btn {
  width: 10rem;
  margin: 0 auto;
}

.join_us_section .white_square > form #custom_btn,
.join_us_section .white_square > form #join_btn {
  margin-top: 1.2rem;
  padding: 0.2rem 0;
  border-radius: 1.5rem;
  border: none;
}

.daily_stores {
  background-color: #639E2E;
}
/*# sourceMappingURL=style.css.map */