@import 'colors_fonts';
// @import 'small_mobile';
@import 'media_queries';


%bg_cover_no-repeat{
    background-size: cover;
    background-repeat: no-repeat;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary;
    font-size: 1rem;
}

@include small_mobile {

    * {
        color: $dark;
    }
    
}

// UTILITY

section:not(.stores_location_section) {
    padding: 1.2rem;

    @include small_mobile {
        padding: 0;
    }
}

.content {
    height: 120vh;

    @include small_mobile {
        height: 100%;
    }
}

img:not(.bg_img,.volume,.icon,.menu-icon,.logo_img){
    height: 30rem;

    @include small_mobile {
        width: 100%;
        height: 100%;
    }
}

.heading {
    font-family: $heading;

    @include small_mobile {
        float: right;
        margin: 0 0.3rem 0.5rem 0;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
}

.heading_shadow {
    @include small_mobile {
        display: none;
    }
}

// HEADER AND NAV

header {
    display: flex;
    background-color: $light;
    height: 2.8rem;

    .audio_player {
        margin: 0.3rem;
    }

    .record {
        font-family: $accent;
        font-size: 1.5rem;
        font-weight: normal;

        @include small_mobile {
            display: none;
        }
    }

    .menu-icon > img {
        position: absolute;
        height: 2.2rem;
        right: 1.2rem;
        top: 0.3rem;

        @include small_mobile {
            right: 0.5rem;
        }
    }
   
}

header,
nav.hamburger {
    position: sticky;
    top: 0;
    z-index: 3;
}

.audio_player {
    display: flex;
    align-items: center;
}

.hamburger {
    height: 9.2rem;
    display: flex;
    justify-content: space-between;
    display: none;
    
    .menu {
        margin: 0.8rem 1rem;
    }
    .menu > a {
        text-decoration: none;
        color: $red;
    }

}


// LANDING PAGE

.prime_page {
    display: grid;
    grid-template-columns: 5fr 6fr;
    height: 100vh;

    @include small_mobile {
        height: 100%;
    }

    .wrapper {
        margin: 15.5rem 0 0 8rem;
        @include tablet {
            margin: 15.5rem 0 0 3rem;
        }

        @include small_mobile {
            margin: 0;
            
        }
    }

    .slogan {
        font-family: $accent;
        font-size: 3.2rem;

        @include small_mobile {
            display: none;
        }
    }

    .bg_img {
        overflow: hidden;
        z-index: -1;
        margin-top: -17.5rem;
        margin-right: -9rem;
        @include tablet {
            height: 55rem;
            margin: -6rem 0 0 0 ;
            overflow: hidden;
            z-index: -1;
        }

        @include small_mobile {
            display: none;
        }
      }


      .logo_img {
          width: 45rem;

          @include small_mobile {
              width: 17rem;
              margin: 0.8rem 0 0.8rem 0.3rem;
          }
      }
}



// NEWS PAGE

.second_page {
    background-image: url(../images/BGs/curved_red_line_right.svg);
    @extend %bg_cover_no-repeat;

    @include small_mobile {
        display: none;
    }
}


// BROCHURE PAGE
    .brochure_section {
        background-image: url(../images/BGs/red_line_right.svg);
        @extend %bg_cover_no-repeat;
        background-position: bottom;



        @include small_mobile {
            background-image: none;
        }
    }


// SPECIAL OFFERS PAGE

.special_offers_section {
    background-image: url(../images/BGs/curved_red_line_left.svg);
    @extend %bg_cover_no-repeat;

    @include small_mobile {
        background-image: none;

        hr {
            width: 13rem;
            margin: 0 auto;
            margin-bottom: 1rem;
            border: 0.05em solid $accent_color;
            border-radius: 50%;
            background-color: $accent_color;
        }

        .first_item,
        .second_item {
            display: flex;
            flex-direction: column;
            align-items: center;

            .item_name {
                font-weight: 600;
            }
        }
    }
}


// JOIN US PAGE

.join_us_section {
    background-image: url(../images/BGs/red_line_left.svg);
    @extend %bg_cover_no-repeat;
    background-position: bottom;

    @include small_mobile {
        background-image: none;
        background-color: $green;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .red_square {
            display: none;
        }
    }

    .join_us_heading {

        @include small_mobile {
            margin: 1.2rem 0 2rem 0;
        }
    }

    .white_square > form {

        @include small_mobile {
            display: flex;
            flex-direction: column;

            input:not(#join_btn) {
                border: none;
                background-color: $green;
                border-bottom: 0.01rem solid $light;
                width: 13rem;
                text-align: center;
                padding-bottom: 0.5rem;
                }

            input::placeholder {
                color: $light;
                opacity: 0.5;
                letter-spacing: 0.16rem;
            }
        }

        #custom_btn {
            width: 6rem;
            margin: 0 auto;
        }

        #join_btn {
            width: 10rem;
            margin: 0 auto;
        }

        #custom_btn,
        #join_btn{
            margin-top: 1.2rem;
            padding: 0.2rem 0;
            border-radius: 1.5rem;
            border: none;
        }
    }

}


// STORE LOCATIONS PAAGE

.daily_stores {
    background-color: $green;
}



