.second_page, .brochure_section, .special_offers_section, .join_us_section {
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

section:not(.stores_location_section) {
  padding: 1.2rem;
}

@media screen and (max-width: 280px) {
  section:not(.stores_location_section) {
    padding: 0;
  }
}

.content:not(footer):not(.second_page) {
  height: 120vh;
}

@media screen and (max-width: 768px) {
  .content:not(footer):not(.second_page) {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 280px) {
  .content:not(footer):not(.second_page) {
    height: 100%;
  }
}

.locations {
  height: 60vh;
}

.locations,
.stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 280px) {
  img:not(.bg_img):not(.volume):not(.icon):not(.menu-icon):not(.logo_img) {
    width: 100%;
    height: 100%;
  }
}

.heading {
  font-family: "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 768px) {
  .heading {
    margin-bottom: 1rem;
    font-size: 2.8rem;
    text-align: right;
    letter-spacing: 0.3rem;
  }
}

@media screen and (max-width: 280px) {
  .heading {
    margin: 0 0.3rem 0.5rem 0;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: right;
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .heading_shadow {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .heading_shadow {
    display: none;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fffbfb;
  height: 2.8rem;
}

@media screen and (max-width: 768px) {
  header {
    width: 100vw;
  }
}

header .audio_player {
  margin: 0.3rem;
}

header .record {
  font-family: "Caveat", cursive;
  font-size: 1.5rem;
  font-weight: normal;
}

@media screen and (max-width: 280px) {
  header .record {
    display: none;
  }
}

header .menu-icon > img {
  position: absolute;
  height: 2.2rem;
  right: 1.2rem;
  top: 0.3rem;
}

@media screen and (max-width: 768px) {
  header .menu-icon > img {
    right: 0.5rem;
  }
}

@media screen and (max-width: 280px) {
  header .menu-icon > img {
    right: 0.5rem;
  }
}

header,
nav.hamburger {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

@media screen and (max-width: 280px) {
  header,
  nav.hamburger {
    position: relative;
  }
}

.audio_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 280px) {
  .audio_player {
    display: none;
  }
}

.hamburger {
  height: 9.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 280px) {
  .hamburger {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.hamburger .menu {
  margin: 0.8rem 1rem;
}

@media screen and (max-width: 280px) {
  .hamburger .menu {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0;
  }
}

.hamburger .menu > a {
  text-decoration: none;
  color: #BF1A0B;
}

@media screen and (max-width: 280px) {
  .hamburger .menu > a {
    color: #363333;
    font-weight: 600;
    opacity: 0.7;
  }
}

.prime_page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 6fr;
      grid-template-columns: 5fr 6fr;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .prime_page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60vh;
  }
}

@media screen and (max-width: 280px) {
  .prime_page {
    height: 100%;
  }
}

.prime_page .wrapper {
  margin: 15.5rem 0 0 8rem;
}

@media screen and (max-width: 768px) {
  .prime_page .wrapper {
    margin: 5rem 0;
  }
}

@media screen and (max-width: 280px) {
  .prime_page .wrapper {
    margin: 0;
  }
}

.prime_page .slogan {
  font-family: "Caveat", cursive;
  font-size: 3.2rem;
}

@media screen and (max-width: 768px) {
  .prime_page .slogan {
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .prime_page .slogan {
    display: none;
  }
}

.prime_page .bg_img {
  overflow: hidden;
  z-index: -1;
  margin-top: -17.5rem;
  margin-right: -9rem;
}

@media screen and (max-width: 768px) {
  .prime_page .bg_img {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .prime_page .bg_img {
    display: none;
  }
}

.prime_page .logo_img {
  width: 45rem;
}

@media screen and (max-width: 768px) {
  .prime_page .logo_img {
    width: 80vw;
  }
}

@media screen and (max-width: 280px) {
  .prime_page .logo_img {
    width: 17rem;
    margin: 0.8rem 0 0.8rem 0.3rem;
  }
}

.second_page {
  background-image: url(../images/BGs/curved_red_line_right.svg);
}

@media screen and (max-width: 768px) {
  .second_page {
    background-image: none;
    background-color: #639E2E;
  }
  .second_page .wrapper_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second_page .wrapper_two p {
    width: 40%;
    line-height: 1.7rem;
  }
  .second_page .news_img > img {
    height: 20rem;
    width: 20rem;
  }
}

@media screen and (max-width: 280px) {
  .second_page {
    display: none;
  }
}

.brochure_section {
  background-image: url(../images/BGs/red_line_right.svg);
  background-position: bottom;
}

@media screen and (max-width: 768px) {
  .brochure_section {
    background-image: none;
  }
  .brochure_section .brochure_heading::after {
    background-image: url(../images/icons/arrow.svg);
    background-size: 2rem 2rem;
    display: inline-block;
    margin-left: 2rem;
    height: 2rem;
    width: 2rem;
    content: "";
  }
  .brochure_section .brochure_wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (max-width: 280px) {
  .brochure_section {
    background-image: none;
  }
  .brochure_section .brochure_heading::after {
    display: none;
  }
}

.special_offers_section {
  background-image: url(../images/BGs/curved_red_line_left.svg);
}

@media screen and (max-width: 768px) {
  .special_offers_section {
    background-image: none;
  }
  .special_offers_section img.items {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 280px) {
  .special_offers_section {
    background-image: none;
  }
  .special_offers_section hr {
    width: 13rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 0.05em solid #46910a;
    border-radius: 50%;
    background-color: #46910a;
  }
  .special_offers_section .first_item,
  .special_offers_section .second_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .special_offers_section .first_item .item_name,
  .special_offers_section .second_item .item_name {
    font-weight: 600;
  }
}

.join_us_section {
  background-image: url(../images/BGs/red_line_left.svg);
  background-position: bottom;
}

@media screen and (max-width: 768px) {
  .join_us_section {
    background-image: none;
    background-color: #639E2E;
  }
  .join_us_section .white_square form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .join_us_section .red_square {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .join_us_section {
    background-image: none;
    background-color: #639E2E;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .join_us_section .red_square {
    display: none;
  }
}

@media screen and (max-width: 280px) {
  .join_us_section .join_us_heading {
    margin: 1.2rem 0 2rem 0;
    color: #fffbfb;
    font-weight: lighter;
  }
}

@media screen and (max-width: 280px) {
  .join_us_section .white_square > form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 1rem;
  }
  .join_us_section .white_square > form input:not(#join_btn) {
    border: none;
    background-color: #639E2E;
    border-bottom: 0.01rem solid #fffbfb;
    width: 13rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .join_us_section .white_square > form input::-webkit-input-placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
  .join_us_section .white_square > form input:-ms-input-placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
  .join_us_section .white_square > form input::-ms-input-placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
  .join_us_section .white_square > form input::placeholder {
    color: #fffbfb;
    opacity: 0.5;
    letter-spacing: 0.16rem;
  }
}

.join_us_section .white_square > form #custom_btn {
  width: 6rem;
  margin: 0 auto;
}

.join_us_section .white_square > form #join_btn {
  width: 10rem;
  margin: 0 auto;
}

.join_us_section .white_square > form #custom_btn,
.join_us_section .white_square > form #join_btn {
  margin-top: 1.2rem;
  padding: 0.2rem 0;
  border-radius: 1.5rem;
  border: none;
  font-weight: 500;
}

.locations {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 280px) {
  .locations {
    height: auto;
  }
}

.twisted_title {
  font-size: 3rem;
}

@media screen and (max-width: 280px) {
  .twisted_title {
    font-size: 1.5rem;
  }
}

.stores div {
  margin: 0 7rem;
  font-size: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 280px) {
  .stores div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 280px) {
  .non_stop_stores .store_name {
    font-weight: bold;
  }
}

.daily_stores {
  background-color: #639E2E;
  color: #fffbfb;
}

@media screen and (max-width: 280px) {
  .daily_stores {
    color: #fffbfb;
  }
}

@media screen and (max-width: 280px) {
  .stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .non_stop_stores,
  .daily_stores {
    padding: 1.2rem 0;
  }
  .non_stop_stores .heading,
  .daily_stores .heading {
    font-weight: 600;
  }
  .non_stop_stores .store_name,
  .daily_stores .store_name {
    margin-top: 1.5rem;
    width: 9rem;
    text-align: center;
    letter-spacing: 0.05rem;
  }
}
/*# sourceMappingURL=style.css.map */